@if (team.players; as players) {

  @if (team.name.toLowerCase() === 'SUBSTITUTE'.toLowerCase()){
    <div class="font-normal text-md text-gray-700 my-2">{{ ("Remplaçant(e)s").toUpperCase() }} <small>({{players.length}})</small></div>
  }@else{
    <div class="font-normal text-md text-gray-700 my-2">{{ team.name.toUpperCase() }} <small>({{players.length}})</small></div>
  }

  <section class="min-w-[280px] grid grid-cols-2 gap-4 md:grid-cols-4 sm:flex ">
    @for (playerItem of players; track playerItem.name) {

        <div class="w-min flex flex-col border border-b shadow-sm rounded-md items-center px-6 py-4 font-normal text-gray-900">
          <div class="relative h-10 w-10">
            <img class="h-full w-full rounded-full object-cover object-center" src="{{playerItem.picture}}"
                 alt="{{playerItem.name}}"/>
          </div>
          <div class="text-sm">
            <div class="font-normal text-sm text-gray-700 text-center">{{ playerItem.name.toUpperCase() }}</div>
          </div>
        </div>

    } @empty {
      <div class="w-min flex flex-col gap-3 border border-b shadow-sm rounded-md items-center px-6 py-4 font-normal text-gray-900">
        <div class="text-sm">
          <div class="font-normal text-sm text-gray-700">Pas de remplaçant(e)s</div>
        </div>
      </div>
    }
  </section>

}
