@if (team.players; as players) {

  @if (team.name.toLowerCase() === 'SUBSTITUTE'.toLowerCase()){
    <div class="font-normal text-md text-gray-700 my-2">{{ ("Remplaçant(e)s").toUpperCase() }} <small>({{players.length}})</small></div>
  }@else{
    <div class="font-normal space-x-2 text-md text-gray-700 my-2">
      {{ team.name.toUpperCase() }} <small> <i class="pi pi-fw pi-users font-bold"></i> ({{team.count}})</small>
      @if (team.name.toLowerCase() !== 'unselected'.toLowerCase()){
        <small> <i class="pi pi-fw pi-star-fill text-yellow-500 font-bold"></i> ({{team.avg}})</small>
      }
    </div>
  }

  <section class="min-w-[280px] grid grid-cols-2 gap-4 md:grid-cols-4 sm:flex ">
    @for (playerItem of players; track playerItem.name) {

        <div class="w-min min-w-[150px] space-y-1 flex flex-col border border-b shadow-sm rounded-md items-center px-6 py-4 font-normal text-gray-900">
          <div class="relative h-10 w-10">
            <img class="h-full w-full rounded-full object-cover object-center" ngSrc="{{MethodeUtil.transformPictureUrl(playerItem)}}"
                 alt="{{playerItem.name}}" fill/>
          </div>
          <small class="font-semibold text-sm text-gray-700 text-center">{{ playerItem.name.toUpperCase() }}</small>
          <small class="font-normal text-xs text-gray-700 text-center">{{ playerItem.post.toLowerCase() }}</small>
        </div>

    } @empty {
      <div class="w-min flex flex-col gap-3 border border-b shadow-sm rounded-md items-center px-6 py-4 font-normal text-gray-900">
        <div class="text-sm">
          <div class="font-normal text-sm text-gray-700">Pas de remplaçant(e)s</div>
        </div>
      </div>
    }
  </section>

}
