<section class="flex flex-col justify-around items-center border border-b shadow-sm rounded-md w-min">
  <div class="flex justify-end gap-4 px-6 py-4">
    <i class="pi pi-fw pi-trash text-red-800 cursor-pointer" (click)="onDelete(player)"></i>
  </div>

  <div class="flex flex-col gap-3 items-center px-6 py-4 font-normal text-gray-900">
    <div class="relative h-20 w-20">
      <img class="h-full w-full rounded-full object-cover object-center" src="{{player.picture}}"
           alt="{{player.name}}"/>
    </div>
    <div class="text-sm">
      <div class="font-medium text-gray-700">{{ player.name.toUpperCase() }}</div>
    </div>
  </div>

  @if (player.post) {
    <span class="px-6 py-4">{{ player.post }}</span>
  }

</section>
